**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbproj.schemaview
**/azds.yaml
**/bin
**/obj
**/packages
**/wwwroot/lib
**/Properties
**/TestResults
**/*.db
**/*.db-shm
**/*.db-wal
docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
.env
